html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: repeating-linear-gradient(
    to right,
    #F4F9FF,
    #F4F9FF 8px,
    #FFFFFF 8px,
    #FFFFFF 16px);
}

#parks,
#trajectories {
  width: 904px;
  margin: 0 auto 50px;
}

#trajectories {
  background-color: rgba(255, 255, 255, 1);
}

h1 {
  font-family: "Open Sans";
  text-align: center;
}

h2 {
  font-family: "Open Sans";
}

#parks{
  background-color: rgba(255, 255, 255, 1);
}

#parks svg {/
  
  margin-bottom: 50px;
  background-color: rgba(255, 255, 255, 1);
}

text,p {
  font-family: "Open Sans", sans-serif;
}

.grass {
  fill: #BACDB2;
  stroke: none;
}

.sand {
  fill: #D7D7D7;
  stroke: none;
}

.baseline {
  fill: none;
  stroke: white;
}

.base {
  fill: white;
  stroke: none;
}

.ball {
  fill: red;
}

.ball-away {
  fill: blue;
}

.bar-label {
  alignment-baseline: hanging;
  text-anchor: middle;
  font-family: Helvetica;
  font-size: 12px;
}
