svg {
  border: solid #ccc 1px;
  padding: 24px;
}

.grass {
  fill: green;
  stroke: none;
}

.sand {
  fill: tan;
  stroke: none;
}

.baseline {
  fill: none;
  stroke: white;
}

.base {
  fill: white;
  stroke: none;
}
