html,
body {
  margin: 0;
  padding: 0;
}

body {
    background-color: rgba(255, 255, 255, 0);
}

#parks,
#trajectories {
  width: 900px;
  margin: 50px auto;
  padding: 16px 0;
}

#parallax{
    margin: 0;
    background-image: url("baseball4.png");
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#trajectories {
  margin-bottom: 50px;
}

#main{
  padding: 24px;
  width: 904px;
  z-index: 1;
  margin: 0 auto 50px;
  background-color: #FBFBFB;
}

#trajectories svg {
  margin-top: 16px;
}

h2,
p {
  margin: 16px 0 0;
}

h2:first-child,
p:first-child {
  margin-top: 0;
}

h1 {
  margin: 0;
  font-family: "Open Sans";
  text-align: center;
  vertical-align: middle;
  line-height: 500px;
  color: white;
}

h2 {
  font-family: "Open Sans";
}

#parks {
  background-color: rgba(255, 255, 255, 1);
}

#parks svg {
  margin-top: 50px;
  background-color: rgba(255, 255, 255, 1);
}

text,p {
  font-family: "Open Sans", sans-serif;
}

.grass {
  fill: #BACDB2;
  stroke: none;
}

.sand {
  fill:  #D7D7D7;
  stroke: none;
}

.baseline {
  fill: none;
  stroke: white;
}

.base {
  fill: white;
  stroke: none;
}

.bar-label {
  alignment-baseline: hanging;
  text-anchor: middle;
  font-family: "Open Sans";
  font-size: 12px;
}
